.git*
.idea/
dev-playground/
docs/
examples/
tests/
package-lock.json
yarn.lock
.editorconfig
.typos.toml
eslint.config.mjs
build-fonts.js
build-examples.js
babel.config.json
webpack.config.js
src/3rd-party/svg-to-pdfkit/*.patch
