registry=https://registry.npmjs.com/
@flowaccount:registry=https://registry.npmjs.com/
@newpheeraphatflowaccount:registry=https://registry.npmjs.com/
//npm.pkg.github.com/:_authToken=290180760df9841c2627d6672d22b81901c304a7
