body {
	font-family: 'Open Sans', sans-serif;
	color: #666;
	background: white !important;
}
.navbar {
	margin-bottom: 0;
	background-color: white;
	border-bottom: 0;
}
#top.navbar-default a {
	color: #0074c1;
}
#top.navbar-default .navbar-nav a{
	text-transform: uppercase;
}
#top.navbar-default li:hover {
	background: rgb(249,249,249);
}
h2 {
	font-weight: 300;
	color: #0074c1;
	font-size: 24px;
}
.keyDescription {
	padding-bottom: 80px;
}

h4 {
	opacity: 0.9;
}
.subtitle {
	color: white;
	margin-top: 30px;
}
.header, .playground {
	background: #0074c1;
	color: white;
}
.header p {
	opacity: 0.7;
	font-weight: 300;
	font-size: 18px;
}
h1 {
	font-size: 36px;
	font-weight: 300;
}

.playground ul {
	list-style: none;
	padding: 0;
	margin-left: -8px;
	margin-bottom: 0;
}

.playground li {
	display: none;
	padding: 8px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	text-overflow: ellipsis;
}

.playground li:hover {
	background: rgba(0,0,0,0.1);
}

#pdfeViewer {
	background-color: #404040;
}

@media(min-width: 768px) {
	h1 {
		font-size: 60px;
	}
	.header {
		padding-top: 20px;
		padding-bottom: 40px;
		margin-bottom: 30px;
		height: 400px;
	}
	.header p {
		font-size: 24px;
		line-height: 1.4;
	}
	.page h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;

	}

	.subtitle {
		margin-top: 90px;
	}
}
.pdf {
	font-weight: 300;
}
.make {
	font-weight: 600
}

.playgroundBody .content {
	display: none;
}


#editor {
	position: absolute;
	top: 0px;
	right: 50%;
	left: 0;
	width: 50%;
	height: 100%;
}


#stats {
	display: none;
	float: right;
	position: relative;
	top: 6px;
	opacity: 0.5;
}
#printThis {
	float: right;
	top:0;
}


@media(min-width: 300px) and (max-width: 1000px) {
	.playground .container li {
		display: inline-block;
	}

	#exampleList li {
		width: 60px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.playgroundBody .content {
		position: fixed;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		top: 83px;
	}

	#editor {
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		height: 50%;
		top: 0;
		bottom: 50%;
	}

	#pdfV {
		left: 0;
		right: 0;
		bottom: 0;
		top: 50%;
		height: 50%;
		width: 100%;
		position: absolute;
	}

	.playgroundBody .notEnoughSpace, #stats {
		display: none;
	}
}


.subpage {
	margin-top: 50px;
	margin-bottom: 100px;
}
.subpage h1 {
	font-size: 48px;
	color: #0074c1;
}

@media(max-width: 767px) {
	.banner {
		display: none;
	}

	.subpage {
		margin-top: 40px;
	}
	.subpage h1 {
		font-size: 30px;
		font-weight: 400;
	}
}

@media(min-width: 1001px) {
	.playground .container li {
		display: inline-block;
	}
	.playgroundBody .content {
		position: fixed;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		top: 83px;
	}

	#pdfV {
		left: 50%;
		width: 50%;
		height: 100%;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
	}
	.playgroundBody .notEnoughSpace {
		display: none;
	}

	#stats {
		display: block;
	}
}

#pdfeViewer {
	position: absolute;
	top: 0px;
	left: 50%;
	bottom: 0;
	right: 0;
}

#toolbarViewerRight, #sidebarToggle, .toolbarButtonSpacer, #viewFind {
	display:none;
}

#toolbarViewerLeft {
	width: 100%
}

.playground {
	position: relative;
}

.banner small {
	color: white;
	opacity: 0.4;
}
